body {
  background-color: #f5f0ec;
}

.father {
  width: 100px;
  height: 100px;
  /* background-color: #8cffa0; */
  border: 2px solid blue;
  mask-image: url("../../img/lx.png");
}
.child {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 50px;
  border: 1px solid red;
  transition: all 0.6s ease-in;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}
.child:hover {
  background-color: blanchedalmond;
}
.wrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-color: black;
  background-position: 50%;
}
.parallax-effect-glare-scale {
  /* @include background; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: darkgreen;
  color: white;
  border: 5px solid black;
  border-radius: 20px;

  transform-style: preserve-3d;
}
.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}

.inner {
  /* width: 100%; */
  width: 100%;
  border: 2px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
}

.p4 {
  /* width: 100%; */
  transform: translateZ(20px);
}
.p1 {
  /* width: 100%; */
  transform: translateZ(40px);
}

.parallax-effect-img {
  width: 1000px;
  height: 100vh;
  transform-style: preserve-3d;
  transform: perspective(100px);
  background-image: url("../../img/p1/P1p1_0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container {
  padding: 0 5vw;
}

// section {
//   padding: 100px 0;
// }


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
  font-size: 24px;
  letter-spacing: 1px;
}
.header-section {
  padding: 100px 0;
  position: relative;
}
.header-menu {
  position: absolute;
  right: 25vw;
  // top: 0;
  bottom: 45vh;
  // bottom: 200px;
  letter-spacing: 1px;
  width: 40vw;
  z-index: 1;
  background-color: #f5f0ec;
  padding: 15px;
}
#header-text {
  font-size: 15vw;
  text-align: center;
  line-height: 15vw;
  font-family: 'Noto Serif SC', serif;

}

.lineChildren {
  transform: translate(0, 500px);
}
.lineParent {
  overflow: hidden;
}

.lineChildren2 {
  transform: translate(0, 500px);
}

.featured-section {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  img {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    &.is-reveal {
      clip-path: inset(0% 0% 0% 0%);
    }
  }

  h6 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
  }
}


.feature-row-layout {
  grid-template-rows: repeat(2, auto);

  display: grid;
  gap: 10px;

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }
}
.feature-column-layout {
  grid-template-columns: 100px auto;
  align-items: flex-end;
  display: grid;
  gap: 10px;
  img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  h6 {
    transform: translateX(100%) rotate(-90deg);
    transform-origin: left bottom;
    justify-self: self-end;
  }
}

.about-section {
  padding: 100px 0;
  p {
    font-size: 70px;
    line-height: 1.3;
    opacity: 0;

    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}
.about-section-name{
  display: inline-block;
  color: red;
}
.about-section-img{
  position: absolute;
  right: 5vw;
  top: 15vh;
  width: 30vw;
}




.footer {
  text-align: center;
  padding-bottom: 100px;
  .location {
    font-size: 5vw;
    line-height: 15vw;
    letter-spacing: 2vw;
    text-transform: uppercase;
    font-family: "Bodoni Moda", serif;

    opacity: 0;
    &.is-reveal {
      opacity: 1;
    }
  }
}
